.section-cta {
    margin-bottom: var(--space-11);
    padding: var(--space-4);
}

.cta {
    display: flex;
    gap: 0;
    border-radius: var(--radius-4);
    overflow: hidden;
    background-image: linear-gradient(
        to right bottom,
        rgba(var(--color-primary-tint-3-rgb), 0.4),
        rgba(var(--color-primary-tint-4-rgb), 0.4)
    );

    box-shadow: var(--box-shadow-medium-all-around);
}

.cta-text-box {
    flex: 1 1 65%;
    padding: var(--space-6) var(--space-8) var(--space-8) var(--space-8);
    color: var(--color-primary-shade-3);
    text-align: center;
}

.cta-text-title {
    font-size: var(--fs-10);
    margin-bottom: var(--space-6);
}
.cta-text-description {
    font-size: var(--fs-6);
    margin-bottom: var(--space-8);
    line-height: 1.6;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--space-8);
    column-gap: var(--space-7);
}

.cta-image-box {
    flex: 1 1 35%;
    background-image:
        linear-gradient(
            to right bottom,
            rgba(var(--color-primary-tint-3-rgb), 0.25),
            rgba(var(--color-primary-tint-4-rgb), 0.25)
        ),
        url(../img/call-to-action/cta-img.jpg);
    background-size: cover;
    background-position: center;
}

.cta-form label {
    font-weight: 500;
    font-size: var(--fs-5);
}

.cta-form .form-control {
    font-size: var(--fs-5);
}

.cta-form *:focus-visible {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
}

.cta-form .form-actions {
    margin-top: var(--space-5);
    grid-column: 1/-1;
    justify-content: flex-start;
}
.cta-form .btn {
    font-size: var(--fs-7);
}

@media (max-width: 84em) {
    .section-cta {
        padding: var(--space-4) var(--space-6);
    }
}

@media (max-width: 75em) {
    .cta-text-box {
        padding: var(--space-6) var(--space-6) var(--space-8) var(--space-6);
    }
    .cta-form {
        column-gap: var(--space-5);
        row-gap: var(--space-7);
    }
    .cta-form .form-control {
        font-size: var(--fs-4);
    }
}

@media (max-width: 60em) {
    .cta-form {
        grid-template-columns: 1fr;
    }
    .cta-text-box {
        flex: 1 1 50%;
    }
    .cta-image-box {
        flex: 1 1 50%;
    }
    .cta-text-title {
        font-size: var(--fs-9);
    }
    .cta-text-description {
        font-size: var(--fs-5);
    }
    .cta-form .form-actions {
        justify-content: center;
    }
}
