.section-featured-in {
    margin-bottom: var(--space-11);
    padding: var(--space-4);
}

.featured-in-logos-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.featured-in-logos-list img {
    width: 12.8rem;
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

.featured-in-text {
    font-size: var(--fs-3);
    color: var(--color-text-light);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: var(--space-6);
    font-weight: 500;
}

@media (max-width: 60em) {
    .featured-in-logos-list img {
        width: 8rem;
        height: 2.4rem;
    }
    .featured-in-text {
        font-size: var(--fs-2);
    }
}
