* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --color-primary: #ef2130;
    --color-primary-shade-1: #c61c27;
    --color-primary-shade-2: #781118;
    --color-primary-tint-1: #f13745;
    --color-primary-tint-2: #f57a83;
    --color-primary-tint-3: #f2c0c3;

    --color-accent: #e6c89c;
    --color-accent-shade-1: #c4a979;
    --color-accent-shade-2: #a48a63;
    --color-accent-tint-1: #edd6b5;
    --color-accent-tint-2: #f2e1c9;
    --color-accent-tint-3: #f3ede3;

    --color-bg: #f8f0e8;

    --color-white: #ffffff;
    --color-green: #51cf66;
    --color-green-light: #94d82d;

    --color-text: #302121;
    --color-text-muted: #6b5a5a;
    --color-text-light: #787777;
    --color-text-on-primary: #ffffff;

    /*SHADOWS*/
    --no-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    --box-shadow-small: 0 0 2px rgba(0, 0, 0, 0.8);
    --box-shadow-medium: 0 8px 8px rgba(0, 0, 0, 0.07);
    --box-shadow-medium-all-around: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    --box-shadow-medium-heavy: 0 8px 8px rgba(0, 0, 0, 0.2);
    --box-shadow-very-large: 0 20px 40px rgba(0, 0, 0, 0.2);
    --box-shadow-small-primary-shade-2: 0 0 8px #7811189a;
    --box-shadow-inside-primary: inset 0 0 0 2px var(--color-primary);

    /* SPACING SCALE */
    --space-1: 0.2rem;
    --space-2: 0.4rem;
    --space-3: 0.8rem;
    --space-4: 1.2rem;
    --space-5: 1.6rem;
    --space-6: 2.4rem;
    --space-7: 3.2rem;
    --space-8: 4.8rem;
    --space-9: 6.4rem;
    --space-10: 8rem;
    --space-11: 9.6rem;
    --space-12: 12.8rem;
    --space-13: 16rem;
    --space-14: 19.2rem;
    --space-15: 25.6rem;
    --space-16: 32rem;
    --space-17: 38.4rem;
    --space-18: 51.2rem;
    --space-19: 64rem;

    /* FONT SIZE SCALE */
    --fs-1: 1rem;
    --fs-2: 1.2rem;
    --fs-3: 1.4rem;
    --fs-4: 1.6rem;
    --fs-5: 1.8rem;
    --fs-6: 2rem;
    --fs-7: 2.4rem;
    --fs-8: 3rem;
    --fs-9: 3.6rem;
    --fs-10: 4.4rem;
    --fs-11: 5.2rem;
    --fs-12: 6.2rem;
    --fs-13: 7.4rem;
    --fs-14: 8.6rem;
    --fs-15: 9.8rem;

    /*border-radius*/
    --radius-1: 0.2rem;
    --radius-2: 0.4rem;
    --radius-3: 0.8rem;
    --radius-4: 1.2rem;
    --radius-5: 1.6rem;
    --radius-6: 2.4rem;
    --radius-round: 50%;
}

body {
    background-color: var(--color-bg);
    font-family: "Rubik", sans-serif;
    color: var(--color-text);
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}
strong {
    font-weight: 500;
}
.grid {
    display: grid;
    row-gap: var(--space-10);
    column-gap: var(--space-8);
}
.grid-2-cols {
    grid-template-columns: 1fr 1fr;
}
.grid-3-cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    max-width: 120rem !important;
    margin: 0 auto !important;
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    border-radius: var(--radius-4);
    overflow: hidden;
}

.card-center {
    justify-content: center;
    align-items: center;
}

.hover-lift {
    transform: translateY(0);
    box-shadow: none;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-6px);
    box-shadow: var(--box-shadow-medium);
}

.tag {
    display: inline-block;
    font-size: var(--fs-1);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: var(--radius-4);
    padding: var(--space-2) var(--space-3) var(--space-2) var(--space-3);
}

.tag-red {
    background-color: var(--color-primary-tint-2);
}

.tag-green {
    background-color: var(--color-green);
}
.tag-light-green {
    background-color: var(--color-green-light);
}

.tags {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-2) 0;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
    stroke: var(--color-primary);
}

.icon-text {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
}

.heading-primary {
    font-size: var(--fs-11);
    letter-spacing: -0.1rem;
}

.heading-secondary {
    font-size: var(--fs-9);
    line-height: 1.2;
}
.heading-tertiary {
    font-size: var(--fs-8);
}

.section-name {
    text-transform: uppercase;
    font-size: var(--fs-5);
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: var(--space-3);
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    border: 0;
}
.btn-cta-primary,
.btn-cta-primary:link,
.btn-cta-primary:visited {
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    padding: var(--space-5) var(--space-9);
    border-radius: var(--radius-4);
    transition: all 0.3s ease;
}

a.nav-cta:link,
a.nav-cta:visited,
.btn-cta-secondar,
.btn-cta-secondary:link,
.btn-cta-secondary:visited {
    display: inline-block;
    color: var(--color-primary);
    box-shadow: var(--box-shadow-inside-primary);
    border-radius: var(--radius-4);
    transition: all 0.3s ease;
}

a.nav-cta:link,
a.nav-cta:visited {
    padding: var(--space-4) var(--space-6);
}

.btn-cta-secondary,
.btn-cta-secondary:link,
.btn-cta-secondary:visited {
    padding: var(--space-5) var(--space-9);
}

a.nav-cta:hover,
.btn-cta-primary:hover,
.btn-cta-secondary:hover {
    box-shadow: var(--box-shadow-small-primary-shade-2);
}

a.nav-cta:hover,
.btn-cta-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
}

.btn-cta-primary:hover {
    background-color: var(--color-primary-shade-1);
}

a.nav-cta:active,
.btn-cta-primary:active,
.btn-cta-secondary:active {
    box-shadow: var(--no-box-shadow);
    transform: translateY(2px);
}
