.section-hero {
    padding: var(--space-6) 0;
    margin-bottom: var(--space-9);
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-10);
    padding: var(--space-7) 0;
    max-width: 130rem;
    margin: 0 auto !important;
}

.hero-img-container {
    width: 50%;
}
.hero-img {
    width: 100%;
}

.hero-content {
    width: 50%;
}

.hero-heading {
    margin-bottom: var(--space-6);
}

.hero-text {
    line-height: 1.5;
    font-size: var(--fs-7);
    color: var(--color-text-muted);
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: var(--space-5);
    font-size: var(--fs-7);
    margin-bottom: var(--space-7);
    margin-top: var(--space-6);
}

.learn-more:link,
.learn-more:visited {
    color: var(--color-text);
    position: relative;
    text-decoration: none;
    font-weight: 600;
}

.learn-more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    height: 0.2rem;
    width: 100%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.learn-more:hover::after {
    transform: scaleX(1);
}

.customers {
    display: flex;
    gap: var(--space-3);
    align-items: center;
    margin-top: var(--space-8);
}
.customers-images {
    display: flex;
}
.customers-images img {
    border-radius: var(--radius-round);
    width: 4rem;
    height: 4rem;
    margin-left: calc(var(--space-3) * -1);
    border: 2px solid var(--color-bg);
}
.customers-text {
    font-size: var(--fs-4);
    font-weight: 600;
}
.customers-text strong {
    color: var(--color-primary-shade-1);
    font-weight: 700;
}


