.section-how {
    padding: var(--space-5);
    margin-bottom: var(--space-11);
}

.how-content {
    margin-top: var(--space-9);
}

.step-text {
    align-self: center;
}

.step-title {
    font-size: var(--fs-10);
    color: var(--color-text-light);
    text-transform: uppercase;
    margin-bottom: var(--space-4);
}
.step-description {
    font-size: var(--fs-6);
    color: var(--color-text-muted);
    line-height: 1.5;
    margin-top: var(--space-3);
}

.step-img-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.step-img {
    width: 30%;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    border-radius: var(--radius-round);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: var(--color-accent-tint-3);
    z-index: -2;
}
.step-img-box::after {
    width: 40%;
    padding-bottom: 40%;
    z-index: -1;
    background-color: var(--color-accent-tint-2);
}

@media (max-width: 84em) {
    .section-how {
        padding: var(--space-4) var(--space-6);
    }
}
@media (max-width: 75em) {
    .step-title {
        font-size: var(--fs-9);
    }
    .step-description {
        font-size: var(--fs-4);
    }
}

@media (max-width: 34em) {
    .how-content {
        grid-template-columns: 1fr;
    }
    .step-img-box:nth-child(3) {
        grid-row: 4;
    }
    .step-img-box {
        transform: translateY(calc(-1 * var(--space-3)));
    }
}
