* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --color-primary: #d34e4e;
    --color-primary-shade-1: #a93e3e;
    --color-primary-shade-2: #7f2f2f;
    --color-primary-tint-1: #d76060;
    --color-primary-tint-2: #e08383;
    --color-accent: #ddc57a;
    --color-accent-shade-1: #9b8a55;
    --color-accent-shade-2: #857649;
    --color-accent-tint-1: #e0cb87;
    --color-accent-tint-2: #e7d6a2;
    --color-bg: #f9e7b2;
    --color-text: #2b1e1e;
    --color-text-muted: #fff1f1;

    /*SHADOWS*/
    --box-shadow-small: 0 0 2px rgba(0, 0, 0, 0.8);
    --box-shadow-small-primary-shade-2: 0 0 2px #7f2f2fe4;
    --no-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

    /* SPACING SCALE */
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 12px;
    --space-5: 16px;
    --space-6: 24px;
    --space-7: 32px;
    --space-8: 48px;
    --space-9: 64px;
    --space-10: 80px;
    --space-11: 96px;
    --space-12: 128px;

    /* FONT SIZE SCALE */
    --fs-1: 10px;
    --fs-2: 12px;
    --fs-3: 14px;
    --fs-4: 16px;
    --fs-5: 18px;
    --fs-6: 20px;
    --fs-7: 24px;
    --fs-8: 30px;
    --fs-9: 36px;
    --fs-10: 44px;
    --fs-11: 52px;
    --fs-12: 62px;
    --fs-13: 74px;
    --fs-14: 86px;
    --fs-15: 98px;
}

body {
    background-color: var(--color-bg);
    font-family: "Rubik", sans-serif;
    color: var(--color-text);
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}
