* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --color-primary: #d34e4e;
    --color-primary-shade-1: #a93e3e;
    --color-primary-shade-2: #7f2f2f;
    --color-primary-tint-1: #d76060;
    --color-primary-tint-2: #e08383;
    --color-accent: #ddc57a;
    --color-accent-shade-1: #9b8a55;
    --color-accent-shade-2: #857649;
    --color-accent-tint-1: #e0cb87;
    --color-accent-tint-2: #e7d6a2;
    --color-bg: #f5e9c4;
    --color-text: #fff1f1;
    --color-text-muted: #2c1c1c;

    /*SHADOWS*/
    --no-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    --box-shadow-small: 0 0 2px rgba(0, 0, 0, 0.8);
    --box-shadow-small-primary-shade-2: 0 0 2px #7f2f2fe4;
    --box-shadow-very-large: 0 20px 40px rgba(0, 0, 0, 0.2);
    --box-shadow-inside: inset 0 0 0 1px #fff;

    /* SPACING SCALE */
    --space-1: 0.2rem;
    --space-2: 0.4rem;
    --space-3: 0.8rem;
    --space-4: 1.2rem;
    --space-5: 1.6rem;
    --space-6: 2.4rem;
    --space-7: 3.2rem;
    --space-8: 4.8rem;
    --space-9: 6.4rem;
    --space-10: 8rem;
    --space-11: 9.6rem;
    --space-12: 12.8rem;
    --space-13: 16rem;
    --space-14: 19.2rem;
    --space-15: 25.6rem;

    /* FONT SIZE SCALE */
    --fs-1: 1rem;
    --fs-2: 1.2rem;
    --fs-3: 1.4rem;
    --fs-4: 1.6rem;
    --fs-5: 1.8rem;
    --fs-6: 2rem;
    --fs-7: 2.4rem;
    --fs-8: 3rem;
    --fs-9: 3.6rem;
    --fs-10: 4.4rem;
    --fs-11: 5.2rem;
    --fs-12: 6.2rem;
    --fs-13: 7.4rem;
    --fs-14: 8.6rem;
    --fs-15: 9.8rem;

    /*border-radius*/
    --radius-1: 0.2rem;
    --radius-2: 0.4rem;
    --radius-3: 0.8rem;
    --radius-4: 1.2rem;
    --radius-5: 1.6rem;
    --radius-6: 2.4rem;
    --radius-round: 50%;
}

/* GENERAL*/
body {
    background-color: var(--color-bg);
    font-family: "Rubik", sans-serif;
    color: var(--color-text-muted);
    min-height: 100vh;
}
html {
    font-size: 62.5%;
}
.container {
    width: 80% !important;
    margin: 0 auto !important;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.5s ease;
}

.btn-cta-primary:link,
.btn-cta-primary:visited {
    width: 15rem;
    padding: var(--space-4) var(--space-4);
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: var(--radius-3);
}

.btn-cta-primary:hover {
    background-color: var(--color-primary-tint-1);
    box-shadow: var(--box-shadow-small-primary-shade-2);
}

.btn-cta-primary:active {
    box-shadow: var(--no-box-shadow);
    transform: translateY(2px);
}

.btn-cta-secondary:link,
.btn-cta-secondary:visited {
    color: var(--color-text-muted);
}
.btn-cta-secondary:hover,
.btn-cta-secondary:active {
    box-shadow: var(--box-shadow-inside);
}

/*HERO SECTION*/
.section-hero {
    padding: var(--space-11) 0;
}
.hero {
    display: flex;
    gap: var(--space-8);
    padding: var(--space-11) 0;
    max-width: 130rem;
    justify-content: space-between;
}

.hero-img-container {
    width: 40%;
}
.hero-img {
    width: 100%;
}

.hero-content {
    width: 60%;
}

.hero-content h1 {
    font-size: var(--fs-11);
    margin-bottom: var(--space-5);
    font-weight: 700;
    letter-spacing: -0.1rem;
}

.hero-content p {
    line-height: 1.5;
    font-size: var(--fs-6);
}

.hero-actions {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-7);
    font-size: var(--fs-4);
    gap: var(--space-5);
    margin-top: var(--space-6);
}

.customers {
    display: flex;
    gap: var(--space-3);
    align-items: center;
    margin-top: var(--space-8);
}
.customers-images {
    display: flex;
}
.customers-images img {
    border-radius: var(--radius-round);
    width: 4rem;
    height: 4rem;
    margin-left: calc(var(--space-3) * -1);
    border: 2px solid var(--color-bg);
}
.customers-text {
    font-size: var(--fs-1);
    font-weight: 600;
}
.customers-text strong {
    color: var(--color-primary-shade-1);
    font-weight: 700;
}
