* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --color-primary: #ef2130;
    --color-primary-shade-1: #bf1a26;
    --color-primary-shade-2: #781118;
    --color-primary-tint-1: #f24d59;
    --color-primary-tint-2: #f57a83;

    --color-accent: #e6c89c;
    --color-accent-shade-1: #c4a979;
    --color-accent-shade-2: #a48a63;
    --color-accent-tint-1: #edd6b5;
    --color-accent-tint-2: #f4e4cf;
    --color-bg: #f6ece2;
    --color-text: #2a1e1e;
    --color-text-muted: #6b5a5a;
    --color-text-on-primary: #ffffff;

    /*SHADOWS*/
    --no-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    --box-shadow-small: 0 0 2px rgba(0, 0, 0, 0.8);
    --box-shadow-small-primary-shade-2: 0 0 2px #7811189a;
    --box-shadow-very-large: 0 20px 40px rgba(0, 0, 0, 0.2);
    --box-shadow-inside: inset 0 0 0 1px #fff;

    /* SPACING SCALE */
    --space-1: 0.2rem;
    --space-2: 0.4rem;
    --space-3: 0.8rem;
    --space-4: 1.2rem;
    --space-5: 1.6rem;
    --space-6: 2.4rem;
    --space-7: 3.2rem;
    --space-8: 4.8rem;
    --space-9: 6.4rem;
    --space-10: 8rem;
    --space-11: 9.6rem;
    --space-12: 12.8rem;
    --space-13: 16rem;
    --space-14: 19.2rem;
    --space-15: 25.6rem;

    /* FONT SIZE SCALE */
    --fs-1: 1rem;
    --fs-2: 1.2rem;
    --fs-3: 1.4rem;
    --fs-4: 1.6rem;
    --fs-5: 1.8rem;
    --fs-6: 2rem;
    --fs-7: 2.4rem;
    --fs-8: 3rem;
    --fs-9: 3.6rem;
    --fs-10: 4.4rem;
    --fs-11: 5.2rem;
    --fs-12: 6.2rem;
    --fs-13: 7.4rem;
    --fs-14: 8.6rem;
    --fs-15: 9.8rem;

    /*border-radius*/
    --radius-1: 0.2rem;
    --radius-2: 0.4rem;
    --radius-3: 0.8rem;
    --radius-4: 1.2rem;
    --radius-5: 1.6rem;
    --radius-6: 2.4rem;
    --radius-round: 50%;
}

/* GENERAL*/
body {
    background-color: var(--color-bg);
    font-family: "Rubik", sans-serif;
    color: var(--color-text);
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

.grid {
    display: grid;
    gap: var(--space-11);
}
.grid-2-cols {
    grid-template-columns: 1fr 1fr;
}
.grid-3-cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    max-width: 120rem !important;
    margin: 0 auto !important;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.5s ease;
}

a.nav-cta:link,
a.nav-cta:visited,
.btn-cta-primary:link,
.btn-cta-primary:visited {
    color: var(--color-text-on-primary);
    background-color: var(--color-primary);
    border-radius: var(--radius-3);
}

.btn-cta-primary:link,
.btn-cta-primary:visited {
    padding: var(--space-4) var(--space-8);
}

a.nav-cta:link,
a.nav-cta:visited {
    display: inline-block;
    font-weight: 600;
    padding: var(--space-3) var(--space-6);
    transition: background-color 0.5s ease;
}

.btn-cta-primary:hover,
a.nav-cta:hover {
    background-color: var(--color-primary-tint-1);
    box-shadow: var(--box-shadow-small-primary-shade-2);
}

.btn-cta-primary:active,
a.nav-cta:active {
    box-shadow: var(--no-box-shadow);
    transform: translateY(2px);
}

.btn-cta-secondary:link,
.btn-cta-secondary:visited {
    color: var(--color-text-muted);
}
.btn-cta-secondary:hover,
.btn-cta-secondary:active {
    box-shadow: var(--box-shadow-inside);
}

/*HEADER SECTION*/
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-6);
    height: 8rem;
}
.header-nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: var(--space-6);
}
.header-nav-link:link,
.header-nav-link:visited {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--fs-5);
    font-weight: 700;
    transition: color 0.3s ease;
}
.header-nav-link:hover,
.header-nav-link:active {
    color: var(--color-primary);
}
.header-logo {
    width: 19.2rem;
    height: 4.97rem;
}

/*HERO SECTION*/
.section-hero {
    padding: var(--space-6) 0;
}
.hero {
    display: flex;
    gap: var(--space-8);
    padding: var(--space-11) 0;
    max-width: 130rem;
    justify-content: space-between;
}

.hero-img-container {
    width: 40%;
}
.hero-img {
    width: 100%;
}

.hero-content {
    width: 60%;
}

.hero-content h1 {
    font-size: var(--fs-11);
    margin-bottom: var(--space-5);
    font-weight: 700;
    letter-spacing: -0.1rem;
}

.hero-content p {
    line-height: 1.5;
    font-size: var(--fs-6);
    color: var(--color-text-muted);
}

.hero-actions {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-7);
    font-size: var(--fs-4);
    gap: var(--space-5);
    margin-top: var(--space-6);
}

.customers {
    display: flex;
    gap: var(--space-3);
    align-items: center;
    margin-top: var(--space-8);
}
.customers-images {
    display: flex;
}
.customers-images img {
    border-radius: var(--radius-round);
    width: 4rem;
    height: 4rem;
    margin-left: calc(var(--space-3) * -1);
    border: 2px solid var(--color-bg);
}
.customers-text {
    font-size: var(--fs-1);
    font-weight: 600;
}
.customers-text strong {
    color: var(--color-primary-shade-1);
    font-weight: 700;
}

/*HOW IT WORKS SECTION*/
.section-how {
    background-color: orangered;
}
.section-how div {
    font-size: 40px;
    height: 100px;
}
.section-how div:nth-child(1) {
    background-color: orangered;
}
.section-how div:nth-child(2) {
    background-color: blue;
}
.section-how div:nth-child(3) {
    background-color: yellow;
}
.section-how div:nth-child(4) {
    background-color: green;
}
