.section-testemonials {
    margin-bottom: var(--space-11);
    padding: var(--space-4);
}

.testemonials-content {
    margin-top: var(--space-9);
}
.testemonial-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: var(--radius-round);
}

.testemonial-text {
    font-size: var(--fs-5);
    line-height: 1.8;
}

.testemonial-author {
    text-transform: capitalize;
    font-size: var(--fs-4);
    color: var(--color-text-light);
}

.testemonial {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-medium-all-around);
    border-radius: var(--radius-4);
    padding: var(--space-4);
}

@media (max-width: 84em) {
    .section-testemonials {
        padding: var(--space-4) var(--space-6);
    }
}
